@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
/*navbar*/
nav {
    background-color: rgba(0, 0, 0, 0.66) !important;
    border: none !important;
}

/*.placeSection{*/
/*margin-top: 6vh;*/
/*}*/
.active a {
    color: white;
    background-color: transparent !important;
}

.has-search span {
    color: black;
}

.has-search {
    margin-top: 15px;
}

/*.navbar-nav{*/
/*margin-left: 32%;*/
/*}*/
.navbar-brand {
    color: white !important;
}

/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}

/*#myCarousel{*/
/*background-color: rgba(41, 56, 1, 0.91) !important;*/
/*opacity: 0.8;*/
/*}*/
/*!* The colour of the indicators *!*/
.carusel-place li {
    background: #cecece;
}

.carusel-place.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(249, 249, 249, 0) 100%);
}

.carusel-place.right {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(249, 249, 249, 0) 100%);
}

.carusel-place .active {
    background: #428bca;
}

.blog .carusel-place {
    left: 0;
    top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carusel-place li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carusel-place .active {
    background: #707070;
}

/*scroll*/

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.place-category-header h3{
margin-left: 5%;
    color: rgb(121,162,44);
    text-shadow:1px 1px rgba(0, 0, 0, 0.02);
}
.selectPlace {

    margin-top: 15px;
    margin-bottom: 10px;
}

.place-header {
    /*background-color: #0de4c6;*/
    color: rgb(117,158,40);
}

.headerLine hr {
    padding-top: 40px;
}

.list-inline-item {
    color: #4e555b;
}

.box13 {
    position: relative;
    transition: all .2s ease-out 0s
}

.box13 .box-content, .box13:after {
    position: absolute;
    left: 20px;
    right: 20px
}

.box13:after {
    content: "";
    display: block;
    background: #463f9f;
    top: 20px;
    bottom: 20px;
    opacity: 0;
    transform: rotate3d(-1, 1, 0, 100deg);
    transition: all .4s ease-in-out 0s
}

.box13:hover:after {
    opacity: .9;
    transform: rotate3d(0, 0, 0, 0deg)
}

.box13 img {
    width: 100%;
    height: auto
}

.box13 .box-content {
    top: 45%;
    left: 20%;
    opacity: 0;
    z-index: 1;
    -webkit-transform: translate(10%, -30%);
    transform: translate(10%, -30%);
    transition: all .2s ease-out 0s
}

.box13:hover .box-content {
    opacity: 1;
    transform: translate(0, -50%);
    transition-delay: .2s
}

.box13 .title {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #39b54a;
    margin: 0 0 10px
}

.box14 .icon li, .box14 .post {
    display: inline-block
}

.box13 .social li a:hover {
    color: #f7f7b9;
    background: #39b54a
}

@media only screen and (max-width: 990px) {
    .box13 {
        margin-bottom: 30px
    }
}

.mt-40 {
    margin-top: 40px;
    margin-bottom: 40px
}

.col-md-3 {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 200px;
    overflow: hidden;
}

/*!
 * ImageHover.css - http://www.imagehover.io
 * Version 1.0
 * Author: Ciarán Walsh

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 */
[class^='imghvr-'], [class*=' imghvr-'] {
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

[class^='imghvr-'] > img, [class*=' imghvr-'] > img {
    vertical-align: top;
    max-width: 100%;
    height: 200px;
}

[class^='imghvr-'] figcaption, [class*=' imghvr-'] figcaption {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
}

[class^='imghvr-'] figcaption h1, [class^='imghvr-'] figcaption h2, [class^='imghvr-'] figcaption h3, [class^='imghvr-'] figcaption h4, [class^='imghvr-'] figcaption h5, [class^='imghvr-'] figcaption h6, [class*=' imghvr-'] figcaption h1, [class*=' imghvr-'] figcaption h2, [class*=' imghvr-'] figcaption h3, [class*=' imghvr-'] figcaption h4, [class*=' imghvr-'] figcaption h5, [class*=' imghvr-'] figcaption h6 {
    color: #ffffff;
}

[class^='imghvr-'] a, [class*=' imghvr-'] a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

[class^='imghvr-'], [class*=' imghvr-'], [class^='imghvr-']:before,
[class^='imghvr-']:after, [class*=' imghvr-']:before, [class*=' imghvr-']:after,
[class^='imghvr-'] *, [class*=' imghvr-'] *, [class^='imghvr-'] *:before,
[class^='imghvr-'] *:after, [class*=' imghvr-'] *:before, [class*=' imghvr-'] *:after {
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
/*dropdowns*/
.dropdown-item{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
/*.dropdown-item:focus, .dropdown-item:hover {*/
    /*text-decoration: none;*/
    /*background-color: transparent;*/
/*}*/
/* imghvr-fade-*
   ----------------------------- */
[class^='imghvr-fade'] figcaption, [class*=' imghvr-fade'] figcaption {
    opacity: 0;
}

[class^='imghvr-fade']:hover > img, [class*=' imghvr-fade']:hover > img {
    opacity: 0;
}

[class^='imghvr-fade']:hover figcaption, [class*=' imghvr-fade']:hover figcaption {
    opacity: 1;
}

[class^='imghvr-fade']:hover > img, [class^='imghvr-fade']:hover figcaption, [class*=' imghvr-fade']:hover > img, [class*=' imghvr-fade']:hover figcaption {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

/* imghvr-fade
   ----------------------------- */
/* imghvr-fade-in-up
   ----------------------------- */
.imghvr-fade-in-up figcaption {
    -webkit-transform: translate(0, 15%);
    -moz-transform: translate(0, 15%);
    -ms-transform: translate(0, 15%);
    -o-transform: translate(0, 15%);
    transform: translate(0, 15%);
}

/* imghvr-fade-in-down
   ----------------------------- */
.imghvr-fade-in-down figcaption {
    -webkit-transform: translate(0, -15%);
    -moz-transform: translate(0, -15%);
    -ms-transform: translate(0, -15%);
    -o-transform: translate(0, -15%);
    transform: translate(0, -15%);
}

/* imghvr-fade-in-left
   ----------------------------- */
.imghvr-fade-in-left figcaption {
    -webkit-transform: translate(-15%, 0);
    -moz-transform: translate(-15%, 0);
    -ms-transform: translate(-15%, 0);
    -o-transform: translate(-15%, 0);
    transform: translate(-15%, 0);
}

/* imghvr-fade-in-right
   ----------------------------- */
.imghvr-fade-in-right figcaption {
    -webkit-transform: translate(15%, 0);
    -moz-transform: translate(15%, 0);
    -ms-transform: translate(15%, 0);
    -o-transform: translate(15%, 0);
    transform: translate(15%, 0);
}

/* imghvr-push-*
   ----------------------------- */
[class^='imghvr-push-']:hover figcaption, [class*=' imghvr-push-']:hover figcaption {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

/* imghvr-push-up
   ----------------------------- */
.imghvr-push-up figcaption {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.imghvr-push-up:hover > img {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

/* imghvr-push-down
   ----------------------------- */
.imghvr-push-down figcaption {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.imghvr-push-down:hover > img {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

/* imghvr-push-left
   ----------------------------- */
.imghvr-push-left figcaption {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.imghvr-push-left:hover > img {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

/* imghvr-push--right
   ----------------------------- */
.imghvr-push-right figcaption {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.imghvr-push-right:hover > img {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

/* imghvr-slide-*
   ----------------------------- */
[class^='imghvr-slide-']:hover figcaption, [class*=' imghvr-slide-']:hover figcaption {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

/* imghvr-slide-up
   ----------------------------- */
.imghvr-slide-up figcaption {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

/* imghvr-slide-down
   ----------------------------- */
.imghvr-slide-down figcaption {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

/* imghvr-slide-left
   ----------------------------- */
.imghvr-slide-left figcaption {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

/* imghvr-slide-right
   ----------------------------- */
.imghvr-slide-right figcaption {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

/* imghvr-slide-top-left
   ----------------------------- */
.imghvr-slide-top-left figcaption {
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
}

/* imghvr-slide-top-right
   ----------------------------- */
.imghvr-slide-top-right figcaption {
    -webkit-transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
}

/* imghvr-slide-bottom-left
   ----------------------------- */
.imghvr-slide-bottom-left figcaption {
    -webkit-transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%);
}

/* imghvr-slide-bottom-right
   ----------------------------- */
.imghvr-slide-bottom-right figcaption {
    -webkit-transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
}

/* imghvr-reveal-*
   ----------------------------- */
[class^='imghvr-reveal-']:before, [class*=' imghvr-reveal-']:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #135796;
}

[class^='imghvr-reveal-'] figcaption, [class*=' imghvr-reveal-'] figcaption {
    opacity: 0;
}

[class^='imghvr-reveal-']:hover:before, [class*=' imghvr-reveal-']:hover:before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

[class^='imghvr-reveal-']:hover figcaption, [class*=' imghvr-reveal-']:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.21s;
    -moz-transition-delay: 0.21s;
    transition-delay: 0.21s;
}

/* imghvr-reveal-up
   ----------------------------- */
.imghvr-reveal-up:before {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

/* imghvr-reveal-down
   ----------------------------- */
.imghvr-reveal-down:before {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

/* imghvr-reveal-left
   ----------------------------- */
.imghvr-reveal-left:before {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

/* imghvr-reveal-right
   ----------------------------- */
.imghvr-reveal-right:before {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

/* imghvr-reveal-top-left
   ----------------------------- */
.imghvr-reveal-top-left:before {
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
}

/* imghvr-reveal-top-right
   ----------------------------- */
.imghvr-reveal-top-right:before {
    -webkit-transform: translate(100%, -100%);
    -moz-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
}

/* imghvr-reveal-bottom-left
   ----------------------------- */
.imghvr-reveal-bottom-left:before {
    -webkit-transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%);
}

/* imghvr-reveal-bottom-right
   ----------------------------- */
.imghvr-reveal-bottom-right:before {
    -webkit-transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
}

/* imghvr-hinge-*
   ----------------------------- */
[class^='imghvr-hinge-'], [class*=' imghvr-hinge-'] {
    -webkit-perspective: 50em;
    -moz-perspective: 50em;
    perspective: 50em;
}

[class^='imghvr-hinge-'] figcaption, [class*=' imghvr-hinge-'] figcaption {
    opacity: 0;
    z-index: 1;
}

[class^='imghvr-hinge-']:hover img, [class*=' imghvr-hinge-']:hover img {
    opacity: 0;
}

[class^='imghvr-hinge-']:hover figcaption, [class*=' imghvr-hinge-']:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.21s;
    -moz-transition-delay: 0.21s;
    transition-delay: 0.21s;
}

/* imghvr-hinge-up
   ----------------------------- */
.imghvr-hinge-up img {
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.imghvr-hinge-up figcaption {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.imghvr-hinge-up:hover > img {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.imghvr-hinge-up:hover figcaption {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
    transform: rotateX(0);
}

/* imghvr-hinge-down
   ----------------------------- */
.imghvr-hinge-down img {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.imghvr-hinge-down figcaption {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% -50%;
    -moz-transform-origin: 50% -50%;
    -ms-transform-origin: 50% -50%;
    -o-transform-origin: 50% -50%;
    transform-origin: 50% -50%;
}

.imghvr-hinge-down:hover > img {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity: 0;
}

.imghvr-hinge-down:hover figcaption {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
    transform: rotateX(0);
}

/* imghvr-hinge-left
   ----------------------------- */
.imghvr-hinge-left img {
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.imghvr-hinge-left figcaption {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.imghvr-hinge-left:hover > img {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.imghvr-hinge-left:hover figcaption {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
}

/* imghvr-hinge-right
   ----------------------------- */
.imghvr-hinge-right img {
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.imghvr-hinge-right figcaption {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.imghvr-hinge-right:hover > img {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.imghvr-hinge-right:hover figcaption {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
}

/* imghvr-flip-*
   ----------------------------- */
[class^='imghvr-flip-'], [class*=' imghvr-flip-'] {
    -webkit-perspective: 50em;
    -moz-perspective: 50em;
    perspective: 50em;
}

[class^='imghvr-flip-'] img, [class*=' imghvr-flip-'] img {
    backface-visibility: hidden;
}

[class^='imghvr-flip-'] figcaption, [class*=' imghvr-flip-'] figcaption {
    opacity: 0;
}

[class^='imghvr-flip-']:hover > img, [class*=' imghvr-flip-']:hover > img {
    opacity: 0;
}

[class^='imghvr-flip-']:hover figcaption, [class*=' imghvr-flip-']:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.14s;
    -moz-transition-delay: 0.14s;
    transition-delay: 0.14s;
}

/* imghvr-flip-horiz
   ----------------------------- */
.imghvr-flip-horiz figcaption {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.imghvr-flip-horiz:hover img {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.imghvr-flip-horiz:hover figcaption {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

/* imghvr-flip-vert
   ----------------------------- */
.imghvr-flip-vert figcaption {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.imghvr-flip-vert:hover > img {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.imghvr-flip-vert:hover figcaption {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

/* imghvr-flip-diag-1
   ----------------------------- */
.imghvr-flip-diag-1 figcaption {
    -webkit-transform: rotate3d(1, -1, 0, 100deg);
    -moz-transform: rotate3d(1, -1, 0, 100deg);
    -ms-transform: rotate3d(1, -1, 0, 100deg);
    -o-transform: rotate3d(1, -1, 0, 100deg);
    transform: rotate3d(1, -1, 0, 100deg);
}

.imghvr-flip-diag-1:hover > img {
    -webkit-transform: rotate3d(-1, 1, 0, 100deg);
    -moz-transform: rotate3d(-1, 1, 0, 100deg);
    -ms-transform: rotate3d(-1, 1, 0, 100deg);
    -o-transform: rotate3d(-1, 1, 0, 100deg);
    transform: rotate3d(-1, 1, 0, 100deg);
}

.imghvr-flip-diag-1:hover figcaption {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
}

/* imghvr-flip-diag-2
   ----------------------------- */
.imghvr-flip-diag-2 figcaption {
    -webkit-transform: rotate3d(1, 1, 0, 100deg);
    -moz-transform: rotate3d(1, 1, 0, 100deg);
    -ms-transform: rotate3d(1, 1, 0, 100deg);
    -o-transform: rotate3d(1, 1, 0, 100deg);
    transform: rotate3d(1, 1, 0, 100deg);
}

.imghvr-flip-diag-2:hover > img {
    -webkit-transform: rotate3d(-1, -1, 0, 100deg);
    -moz-transform: rotate3d(-1, -1, 0, 100deg);
    -ms-transform: rotate3d(-1, -1, 0, 100deg);
    -o-transform: rotate3d(-1, -1, 0, 100deg);
    transform: rotate3d(-1, -1, 0, 100deg);
}

.imghvr-flip-diag-2:hover figcaption {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);
}

/* imghvr-shutter-out-*
   ----------------------------- */
[class^='imghvr-shutter-out-']:before, [class*=' imghvr-shutter-out-']:before {
    background: #135796;
    position: absolute;
    content: '';
    -webkit-transition-delay: 0.105s;
    -moz-transition-delay: 0.105s;
    transition-delay: 0.105s;
}

[class^='imghvr-shutter-out-'] figcaption, [class*=' imghvr-shutter-out-'] figcaption {
    opacity: 0;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}

[class^='imghvr-shutter-out-']:hover:before, [class*=' imghvr-shutter-out-']:hover:before {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}

[class^='imghvr-shutter-out-']:hover figcaption, [class*=' imghvr-shutter-out-']:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.105s;
    -moz-transition-delay: 0.105s;
    transition-delay: 0.105s;
}

/* imghvr-shutter-out-horiz
   ----------------------------- */
.imghvr-shutter-out-horiz:before {
    left: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
}

.imghvr-shutter-out-horiz:hover:before {
    left: 0;
    right: 0;
}

/* imghvr-shutter-out-vert
   ----------------------------- */
.imghvr-shutter-out-vert:before {
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
}

.imghvr-shutter-out-vert:hover:before {
    top: 0;
    bottom: 0;
}

/* imghvr-shutter-out-diag-1
   ----------------------------- */
.imghvr-shutter-out-diag-1:before {
    top: 50%;
    bottom: 50%;
    left: -35%;
    right: -35%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.imghvr-shutter-out-diag-1:hover:before {
    top: -35%;
    bottom: -35%;
}

/* imghvr-shutter-out-diag-2
   ----------------------------- */
.imghvr-shutter-out-diag-2:before {
    top: 50%;
    bottom: 50%;
    left: -35%;
    right: -35%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.imghvr-shutter-out-diag-2:hover:before {
    top: -35%;
    bottom: -35%;
}

/* imghvr-shutter-in-*
   ----------------------------- */
[class^='imghvr-shutter-in-']:after, [class^='imghvr-shutter-in-']:before, [class*=' imghvr-shutter-in-']:after, [class*=' imghvr-shutter-in-']:before {
    background: rgba(13, 53, 95, 0.95);
    position: absolute;
    content: '';
}

[class^='imghvr-shutter-in-']:after, [class*=' imghvr-shutter-in-']:after {
    top: 0;
    left: 0;
}

[class^='imghvr-shutter-in-']:before, [class*=' imghvr-shutter-in-']:before {
    right: 0;
    bottom: 0;
}

[class^='imghvr-shutter-in-'] figcaption, [class*=' imghvr-shutter-in-'] figcaption {
    opacity: 0;
    z-index: 1;
}

[class^='imghvr-shutter-in-']:hover figcaption, [class*=' imghvr-shutter-in-']:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.21s;
    -moz-transition-delay: 0.21s;
    transition-delay: 0.21s;
}

/* imghvr-shutter-in-horiz
   ----------------------------- */
.imghvr-shutter-in-horiz:after, .imghvr-shutter-in-horiz:before {
    width: 0;
    height: 100%;
}

.imghvr-shutter-in-horiz:hover:after, .imghvr-shutter-in-horiz:hover:before {
    width: 50%;
}

/* imghvr-shutter-in-vert
   ----------------------------- */
.imghvr-shutter-in-vert:after, .imghvr-shutter-in-vert:before {
    height: 0;
    width: 100%;
}

.imghvr-shutter-in-vert:hover:after, .imghvr-shutter-in-vert:hover:before {
    height: 50%;
}

/* imghvr-shutter-in-out-horiz
   ----------------------------- */
.imghvr-shutter-in-out-horiz:after, .imghvr-shutter-in-out-horiz:before {
    width: 0;
    height: 100%;
    opacity: 0.75;
}

.imghvr-shutter-in-out-horiz:hover:after, .imghvr-shutter-in-out-horiz:hover:before {
    width: 100%;
}

/* imghvr-shutter-in-out-vert
   ----------------------------- */
.imghvr-shutter-in-out-vert:after, .imghvr-shutter-in-out-vert:before {
    height: 0;
    width: 100%;
    opacity: 0.75;
}

.imghvr-shutter-in-out-vert:hover:after, .imghvr-shutter-in-out-vert:hover:before {
    height: 100%;
}

/* imghvr-shutter-in-out-diag-2
   ----------------------------- */
.imghvr-shutter-in-out-diag-2:after, .imghvr-shutter-in-out-diag-2:before {
    width: 200%;
    height: 200%;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    opacity: 0.75;
}

.imghvr-shutter-in-out-diag-2:after {
    -webkit-transform: skew(45deg) translateX(-100%);
    -moz-transform: skew(45deg) translateX(-100%);
    -ms-transform: skew(45deg) translateX(-100%);
    -o-transform: skew(45deg) translateX(-100%);
    transform: skew(45deg) translateX(-100%);
}

.imghvr-shutter-in-out-diag-2:before {
    -webkit-transform: skew(45deg) translateX(100%);
    -moz-transform: skew(45deg) translateX(100%);
    -ms-transform: skew(45deg) translateX(100%);
    -o-transform: skew(45deg) translateX(100%);
    transform: skew(45deg) translateX(100%);
}

.imghvr-shutter-in-out-diag-2:hover:after {
    -webkit-transform: skew(45deg) translateX(0%);
    -moz-transform: skew(45deg) translateX(0%);
    -ms-transform: skew(45deg) translateX(0%);
    -o-transform: skew(45deg) translateX(0%);
    transform: skew(45deg) translateX(0%);
}

.imghvr-shutter-in-out-diag-2:hover:before {
    -webkit-transform: skew(45deg) translateX(0%);
    -moz-transform: skew(45deg) translateX(0%);
    -ms-transform: skew(45deg) translateX(0%);
    -o-transform: skew(45deg) translateX(0%);
    transform: skew(45deg) translateX(0%);
}

/* imghvr-fold*
   ----------------------------- */
[class^='imghvr-fold'], [class*=' imghvr-fold'] {
    -webkit-perspective: 50em;
    -moz-perspective: 50em;
    perspective: 50em;
}

[class^='imghvr-fold'] img, [class*=' imghvr-fold'] img {
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

[class^='imghvr-fold'] figcaption, [class*=' imghvr-fold'] figcaption {
    z-index: 1;
    opacity: 0;
}

[class^='imghvr-fold']:hover > img, [class*=' imghvr-fold']:hover > img {
    opacity: 0;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
}

[class^='imghvr-fold']:hover figcaption, [class*=' imghvr-fold']:hover figcaption {
    -webkit-transform: rotateX(0) translate3d(0, 0%, 0) scale(1);
    -moz-transform: rotateX(0) translate3d(0, 0%, 0) scale(1);
    -ms-transform: rotateX(0) translate3d(0, 0%, 0) scale(1);
    -o-transform: rotateX(0) translate3d(0, 0%, 0) scale(1);
    transform: rotateX(0) translate3d(0, 0%, 0) scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.21s;
    -moz-transition-delay: 0.21s;
    transition-delay: 0.21s;
}

/* imghvr-fold-up
   ----------------------------- */
.imghvr-fold-up > img {
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.imghvr-fold-up figcaption {
    -webkit-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
    -moz-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
    -ms-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
    -o-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
    transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.imghvr-fold-up:hover > img {
    -webkit-transform: rotateX(90deg) scale(0.6) translateY(50%);
    -moz-transform: rotateX(90deg) scale(0.6) translateY(50%);
    -ms-transform: rotateX(90deg) scale(0.6) translateY(50%);
    -o-transform: rotateX(90deg) scale(0.6) translateY(50%);
    transform: rotateX(90deg) scale(0.6) translateY(50%);
}

/* imghvr-fold-down
   ----------------------------- */
.imghvr-fold-down > img {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.imghvr-fold-down figcaption {
    -webkit-transform: rotateX(90deg) translate3d(0%, 50%, 0) scale(0.6);
    -moz-transform: rotateX(90deg) translate3d(0%, 50%, 0) scale(0.6);
    -ms-transform: rotateX(90deg) translate3d(0%, 50%, 0) scale(0.6);
    -o-transform: rotateX(90deg) translate3d(0%, 50%, 0) scale(0.6);
    transform: rotateX(90deg) translate3d(0%, 50%, 0) scale(0.6);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.imghvr-fold-down:hover > img {
    -webkit-transform: rotateX(-90deg) scale(0.6) translateY(-50%);
    -moz-transform: rotateX(-90deg) scale(0.6) translateY(-50%);
    -ms-transform: rotateX(-90deg) scale(0.6) translateY(-50%);
    -o-transform: rotateX(-90deg) scale(0.6) translateY(-50%);
    transform: rotateX(-90deg) scale(0.6) translateY(-50%);
}

/* imghvr-fold-left
   ----------------------------- */
.imghvr-fold-left > img {
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.imghvr-fold-left figcaption {
    -webkit-transform: rotateY(90deg) translate3d(-50%, 0%, 0) scale(0.6);
    -moz-transform: rotateY(90deg) translate3d(-50%, 0%, 0) scale(0.6);
    -ms-transform: rotateY(90deg) translate3d(-50%, 0%, 0) scale(0.6);
    -o-transform: rotateY(90deg) translate3d(-50%, 0%, 0) scale(0.6);
    transform: rotateY(90deg) translate3d(-50%, 0%, 0) scale(0.6);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.imghvr-fold-left:hover > img {
    -webkit-transform: rotateY(-90deg) scale(0.6) translateX(50%);
    -moz-transform: rotateY(-90deg) scale(0.6) translateX(50%);
    -ms-transform: rotateY(-90deg) scale(0.6) translateX(50%);
    -o-transform: rotateY(-90deg) scale(0.6) translateX(50%);
    transform: rotateY(-90deg) scale(0.6) translateX(50%);
}

/* imghvr-fold-right
   ----------------------------- */
.imghvr-fold-right > img {
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.imghvr-fold-right figcaption {
    -webkit-transform: rotateY(-90deg) translate3d(50%, 0%, 0) scale(0.6);
    -moz-transform: rotateY(-90deg) translate3d(50%, 0%, 0) scale(0.6);
    -ms-transform: rotateY(-90deg) translate3d(50%, 0%, 0) scale(0.6);
    -o-transform: rotateY(-90deg) translate3d(50%, 0%, 0) scale(0.6);
    transform: rotateY(-90deg) translate3d(50%, 0%, 0) scale(0.6);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.imghvr-fold-right:hover > img {
    -webkit-transform: rotateY(90deg) scale(0.6) translateX(-50%);
    -moz-transform: rotateY(90deg) scale(0.6) translateX(-50%);
    -ms-transform: rotateY(90deg) scale(0.6) translateX(-50%);
    -o-transform: rotateY(90deg) scale(0.6) translateX(-50%);
    transform: rotateY(90deg) scale(0.6) translateX(-50%);
}

/* imghvr-zoom-in
   ----------------------------- */
.imghvr-zoom-in figcaption {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}

.imghvr-zoom-in:hover figcaption {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* imghvr-zoom-out*
   ----------------------------- */
[class^='imghvr-zoom-out'] figcaption, [class*=' imghvr-zoom-out'] figcaption {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0;
}

[class^='imghvr-zoom-out']:hover figcaption, [class^='imghvr-zoom-out'].hover figcaption, [class*=' imghvr-zoom-out']:hover figcaption, [class*=' imghvr-zoom-out'].hover figcaption {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

/* imghvr-zoom-out
   ----------------------------- */
.imghvr-zoom-out:hover > img {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
}

/* imghvr-zoom-out-up
   ----------------------------- */
.imghvr-zoom-out-up:hover > img, .imghvr-zoom-out-up.hover > img {
    -webkit-animation: imghvr-zoom-out-up 0.4025s linear;
    -moz-animation: imghvr-zoom-out-up 0.4025s linear;
    animation: imghvr-zoom-out-up 0.4025s linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes imghvr-zoom-out-up {
    50% {
        -webkit-transform: scale(0.8) translateY(0%);
        -moz-transform: scale(0.8) translateY(0%);
        -ms-transform: scale(0.8) translateY(0%);
        -o-transform: scale(0.8) translateY(0%);
        transform: scale(0.8) translateY(0%);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(0.8) translateY(-150%);
        -moz-transform: scale(0.8) translateY(-150%);
        -ms-transform: scale(0.8) translateY(-150%);
        -o-transform: scale(0.8) translateY(-150%);
        transform: scale(0.8) translateY(-150%);
        opacity: 0.5;
    }
}

@keyframes imghvr-zoom-out-up {
    50% {
        -webkit-transform: scale(0.8) translateY(0%);
        -moz-transform: scale(0.8) translateY(0%);
        -ms-transform: scale(0.8) translateY(0%);
        -o-transform: scale(0.8) translateY(0%);
        transform: scale(0.8) translateY(0%);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(0.8) translateY(-150%);
        -moz-transform: scale(0.8) translateY(-150%);
        -ms-transform: scale(0.8) translateY(-150%);
        -o-transform: scale(0.8) translateY(-150%);
        transform: scale(0.8) translateY(-150%);
        opacity: 0.5;
    }
}

/* imghvr-zoom-out-down
   ----------------------------- */
.imghvr-zoom-out-down:hover > img, .imghvr-zoom-out-down.hover > img {
    -webkit-animation: imghvr-zoom-out-down 0.4025s linear;
    -moz-animation: imghvr-zoom-out-down 0.4025s linear;
    animation: imghvr-zoom-out-down 0.4025s linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes imghvr-zoom-out-down {
    50% {
        -webkit-transform: scale(0.8) translateY(0%);
        -moz-transform: scale(0.8) translateY(0%);
        -ms-transform: scale(0.8) translateY(0%);
        -o-transform: scale(0.8) translateY(0%);
        transform: scale(0.8) translateY(0%);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(0.8) translateY(150%);
        -moz-transform: scale(0.8) translateY(150%);
        -ms-transform: scale(0.8) translateY(150%);
        -o-transform: scale(0.8) translateY(150%);
        transform: scale(0.8) translateY(150%);
        opacity: 0.5;
    }
}

@keyframes imghvr-zoom-out-down {
    50% {
        -webkit-transform: scale(0.8) translateY(0%);
        -moz-transform: scale(0.8) translateY(0%);
        -ms-transform: scale(0.8) translateY(0%);
        -o-transform: scale(0.8) translateY(0%);
        transform: scale(0.8) translateY(0%);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(0.8) translateY(150%);
        -moz-transform: scale(0.8) translateY(150%);
        -ms-transform: scale(0.8) translateY(150%);
        -o-transform: scale(0.8) translateY(150%);
        transform: scale(0.8) translateY(150%);
        opacity: 0.5;
    }
}

/* imghvr-zoom-out-left
   ----------------------------- */
.imghvr-zoom-out-left:hover > img, .imghvr-zoom-out-left.hover > img {
    -webkit-animation: imghvr-zoom-out-left 0.4025s linear;
    -moz-animation: imghvr-zoom-out-left 0.4025s linear;
    animation: imghvr-zoom-out-left 0.4025s linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes imghvr-zoom-out-left {
    50% {
        -webkit-transform: scale(0.8) translateX(0%);
        -moz-transform: scale(0.8) translateX(0%);
        -ms-transform: scale(0.8) translateX(0%);
        -o-transform: scale(0.8) translateX(0%);
        transform: scale(0.8) translateX(0%);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(0.8) translateX(-150%);
        -moz-transform: scale(0.8) translateX(-150%);
        -ms-transform: scale(0.8) translateX(-150%);
        -o-transform: scale(0.8) translateX(-150%);
        transform: scale(0.8) translateX(-150%);
        opacity: 0.5;
    }
}

@keyframes imghvr-zoom-out-left {
    50% {
        -webkit-transform: scale(0.8) translateX(0%);
        -moz-transform: scale(0.8) translateX(0%);
        -ms-transform: scale(0.8) translateX(0%);
        -o-transform: scale(0.8) translateX(0%);
        transform: scale(0.8) translateX(0%);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(0.8) translateX(-150%);
        -moz-transform: scale(0.8) translateX(-150%);
        -ms-transform: scale(0.8) translateX(-150%);
        -o-transform: scale(0.8) translateX(-150%);
        transform: scale(0.8) translateX(-150%);
        opacity: 0.5;
    }
}

/* imghvr-zoom-out-right
   ----------------------------- */
.imghvr-zoom-out-right:hover > img, .imghvr-zoom-out-right.hover > img {
    -webkit-animation: imghvr-zoom-out-right 0.4025s linear;
    -moz-animation: imghvr-zoom-out-right 0.4025s linear;
    animation: imghvr-zoom-out-right 0.4025s linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes imghvr-zoom-out-right {
    50% {
        -webkit-transform: scale(0.8) translateX(0%);
        -moz-transform: scale(0.8) translateX(0%);
        -ms-transform: scale(0.8) translateX(0%);
        -o-transform: scale(0.8) translateX(0%);
        transform: scale(0.8) translateX(0%);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(0.8) translateX(150%);
        -moz-transform: scale(0.8) translateX(150%);
        -ms-transform: scale(0.8) translateX(150%);
        -o-transform: scale(0.8) translateX(150%);
        transform: scale(0.8) translateX(150%);
        opacity: 0.5;
    }
}

@keyframes imghvr-zoom-out-right {
    50% {
        -webkit-transform: scale(0.8) translateX(0%);
        -moz-transform: scale(0.8) translateX(0%);
        -ms-transform: scale(0.8) translateX(0%);
        -o-transform: scale(0.8) translateX(0%);
        transform: scale(0.8) translateX(0%);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(0.8) translateX(150%);
        -moz-transform: scale(0.8) translateX(150%);
        -ms-transform: scale(0.8) translateX(150%);
        -o-transform: scale(0.8) translateX(150%);
        transform: scale(0.8) translateX(150%);
        opacity: 0.5;
    }
}

/* imghvr-zoom-out-flip-horiz
   ----------------------------- */
.imghvr-zoom-out-flip-horiz {
    -webkit-perspective: 50em;
    -moz-perspective: 50em;
    perspective: 50em;
}

.imghvr-zoom-out-flip-horiz figcaption {
    opacity: 0;
    -webkit-transform: rotateX(90deg) translateY(-100%) scale(0.5);
    -moz-transform: rotateX(90deg) translateY(-100%) scale(0.5);
    -ms-transform: rotateX(90deg) translateY(-100%) scale(0.5);
    -o-transform: rotateX(90deg) translateY(-100%) scale(0.5);
    transform: rotateX(90deg) translateY(-100%) scale(0.5);
}

.imghvr-zoom-out-flip-horiz:hover > img, .imghvr-zoom-out-flip-horiz.hover > img {
    -webkit-transform: rotateX(-100deg) translateY(50%) scale(0.5);
    -moz-transform: rotateX(-100deg) translateY(50%) scale(0.5);
    -ms-transform: rotateX(-100deg) translateY(50%) scale(0.5);
    -o-transform: rotateX(-100deg) translateY(50%) scale(0.5);
    transform: rotateX(-100deg) translateY(50%) scale(0.5);
    opacity: 0;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
}

.imghvr-zoom-out-flip-horiz:hover figcaption, .imghvr-zoom-out-flip-horiz.hover figcaption {
    -webkit-transform: rotateX(0) translateY(0%) scale(1);
    -moz-transform: rotateX(0) translateY(0%) scale(1);
    -ms-transform: rotateX(0) translateY(0%) scale(1);
    -o-transform: rotateX(0) translateY(0%) scale(1);
    transform: rotateX(0) translateY(0%) scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

/* imghvr-zoom-out-flip-vert
   ----------------------------- */
.imghvr-zoom-out-flip-vert {
    -webkit-perspective: 50em;
    -moz-perspective: 50em;
    perspective: 50em;
}

.imghvr-zoom-out-flip-vert figcaption {
    opacity: 0;
    -webkit-transform: rotateY(90deg) translate(50%, 0) scale(0.5);
    -moz-transform: rotateY(90deg) translate(50%, 0) scale(0.5);
    -ms-transform: rotateY(90deg) translate(50%, 0) scale(0.5);
    -o-transform: rotateY(90deg) translate(50%, 0) scale(0.5);
    transform: rotateY(90deg) translate(50%, 0) scale(0.5);
}

.imghvr-zoom-out-flip-vert:hover > img, .imghvr-zoom-out-flip-vert.hover > img {
    -webkit-transform: rotateY(-100deg) translateX(50%) scale(0.5);
    -moz-transform: rotateY(-100deg) translateX(50%) scale(0.5);
    -ms-transform: rotateY(-100deg) translateX(50%) scale(0.5);
    -o-transform: rotateY(-100deg) translateX(50%) scale(0.5);
    transform: rotateY(-100deg) translateX(50%) scale(0.5);
    opacity: 0;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
}

.imghvr-zoom-out-flip-vert:hover figcaption, .imghvr-zoom-out-flip-vert.hover figcaption {
    -webkit-transform: rotateY(0) translate(0, 0) scale(1);
    -moz-transform: rotateY(0) translate(0, 0) scale(1);
    -ms-transform: rotateY(0) translate(0, 0) scale(1);
    -o-transform: rotateY(0) translate(0, 0) scale(1);
    transform: rotateY(0) translate(0, 0) scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

/* imghvr-blur
   ----------------------------- */
.imghvr-blur figcaption {
    opacity: 0;
}

.imghvr-blur:hover > img {
    -webkit-filter: blur(30px);
    filter: blur(30px);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
}

.imghvr-blur:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.21s;
    -moz-transition-delay: 0.21s;
    transition-delay: 0.21s;
}

/*# sourceMappingURL=imagehover.css.map */

/*background carusel*/
.background-carusel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    background-color: rgba(0, 0, 0, 0.68);
}

/*footer*/
/*footer{*/
/*background-color: #0de4c6;*/
/*}*/
footer p {
    color: #d1d1d1;
    line-height: 2em;
    font-size: 14px;
}
.footer_about{
    background-color: rgba(0, 0, 0, 0.29);
}
.footer_about h3{
    padding-top: 5px;
}
footer {
    background-image: url("/images/1.jpg");
    background-size: cover;
    background-position: bottom;
    bottom: 0;
    margin-top: 40px;
    width: 100%;
    height: auto;
    line-height: 60px;
    color: white;
}
footer div{
    margin-top: 20px;
padding-bottom: 19px}
.footer ul li {
    list-style-type: none;
    display: block;
    color: #0d14e2;
    font-size: 14px;
    line-height: 2.5em;
}

.footer_header {
    margin-top: 20px;
}

.content_block {
    margin-top: 20px;
}

/*aute*/
.authUsers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("../images/awesome-natural-lake-image.jpg");
    background-size: cover;
    background-position: center;
}

.blockUser {

    /*margin-top: 20vh;*/
    /*margin-left: 30%;*/
    width: 100%;
    height: auto;
    background-color: rgba(23, 23, 23, 0.75);
}

.card-header {
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
}

.card-body {
    color: white;
}

.reg-link:hover {
    text-decoration: none;
}

.button-link {
    padding-bottom: 2vh;
}

.checked {
    color: orange;
}

.ratingBlock {
    margin-top: 1vh;
}

.place-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider_info p {
    /*font: italic;*/
    /*font:italic;*/
    /*position: absolute;*/
    font-style: italic;
    font-size: 16px;
    margin-top: 10px !important;

}

.slider_info h1 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.place_desc p {
    padding: 10px;
    box-shadow: 6px 14px 20px 3px #888888;
}

#languageSelect {
    background-color: transparent;
    border: solid 1px rgba(13, 228, 198, 0);
    margin-top: 8px;
    color: #9d9d9d;
}
/*corusel category*/
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carouselCategory {
    /*height: 200px;*/
    /*background: url(http://alexoliveira.me/Hawaii/images/chevron-right.png);*/
    /*top: 0;*/
    /*background-position: 31px 22px;*/
    /*margin-top: 20px;*/
    /*font-size: 106px;*/
    /*right: -110px;*/
    /*padding: -8px 0;*/
    /*!* vertical-align: middle; *!*/
    /*font-weight: 100;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 47% 76%;*/
    /*!* padding-top: 37px; *!*/
    left: -12px;
    height: 40px;
    width: 40px;
    /*background: none repeat scroll 0 0 #222222;*/
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.slider_info{
    padding-bottom: 40vh;
}
.placeView{
    padding:0 0 0 0 ;
}
.carouselCategory.right {
    background-image: url(http://icons.iconarchive.com/icons/iconsmind/outline/512/Arrow-Right-icon.png);
    /* background-color: #bb2424; */
    width: 80px;
    right: -55px;
    height: 80px;
    background-size: cover;
    background-position: center;
    top: 0;
}
.carouselCategory.left {
    background-image: url(http://icons.iconarchive.com/icons/iconsmind/outline/512/Arrow-Left-icon.png);
    /* background-color: #bb2424; */
    width: 80px;
    left: -55px;
    height: 80px;
    background-size: cover;
    background-position: center;
    top: 0;
}
 /*The indicators*/
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
 /*The colour of the indicators*/
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
    background: #428bca;
}
/*aboute index*/
.about{
    background-color: #80808024;
}
.about-section {
    padding: 4em 0;
}
.about-inner-column{
    margin-top: 70px;
}
.about-inner-column h4 {
    font-size: 2.5em;
    color: rgb(121,162,44);
    font-family: 'Marvel-Regular';
    text-shadow: 1px 1px #ffffff;
}
.about-inner-column p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.8em;
    margin: 1em 0 0;
    font-style: italic;
}

.about-inner-column ul li a {
    color: #333333;
    font-size: 1.1em;
    padding-left: 2em;
}
.about-right img {
    width: 100%;
}
/*about_guide*/
.about_guide_section{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ededed;
}
.about_guide{
    padding: 3em 0;
}
/*guidde slider*/
.guideCarouselInner{
    padding-bottom: 30px;
}
.guideCarouselIcone.left{
    background-image: none;
    margin-left: 80%;
}
.guideCarouselIcone.right{
    background-image: none;

}

.guideCarouselIcone{
    color:#337ab7;
    /*flex-direction: column;*/
    /*padding-top: 20px;*/
}
.guideCarouselIcone:hover, .guideCarouselIcone:focus{
    color:#337ab7;

}